# Python cache
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints

# Environment variables
.env
.venv
env/
venv/
ENV/

# IDE settings
.vscode/
.idea/

# OS specific files
Thumbs.db
.DS_Store

# Scratch and temporary tools
scratch/
*.log
